.discord-card {
    top: 50%;
    left: 50%;
    padding: 20px;
    color: #222;
    position: absolute;
    border-radius: 25px;
    background-color: #f2f2f2;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}